<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My tasks</title>
</head>
<body>

    <h1>My tasks</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="task : ${userTasks}">

                <td th:text="${task.id}"></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>

                <td><a th:href="@{/editTask(taskId=${task.id})}">Edit Task</a> </td>

            </tr>

        </tbody>

    </table>

</body>
</html>