<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My tasks</title>
</head>
<body>

    <h1>My tasks</h1>
    <td><a th:href="@{/}">To home</a> </td>


    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="task : ${userTasks}">

                <td th:text="${task.id}"></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>

                <td><a th:href="@{/editTask(taskId=${task.id})}">Edit Task</a> </td>
                <td><a th:href="@{/editTask}">Edit Task Test</a> </td>

                <td>
                    <form th:action="@{/editTask}" method="get">
                        <input type="hidden" name="taskId1" th:value="${task.id}"/>
                        <button type="submit">Edit Task</button>
                    </form>
                </td>

            </tr>

        </tbody>

    </table>

    <td><a th:href="@{/newTask}">New Task</a> </td>

</body>
</html>