<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register User</h1>

    <form action="@{/user/register}" th:object="${user}" method="post">

        <label>
            Username
            <input type="text" name="username" th:field="*{username}">
        </label>

        <label>
            Password
            <input type="password" name="password" th:field="*{password}">
        </label>

        <button type="submit">Register</button>

        <div th:if="${#fields.hasAnyErrors()}">
            <ul>
                <li th:each="error : ${#fields.allErrors()}" th:text="${error}">

                </li>
            </ul>
        </div>

    </form>
</body>
</html>