<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
</head>
<body>
    <h1>Edit Task</h1>


    <form action="#" th:action="@{/editTask}" th:object="${task}" method="post">

        <label>ID:
            <p th:text="*{id}"></p>
            <input type="hidden" name="id" th:field="*{id}">
        </label>

        <label>Title:
            <input type="text" th:field="*{title}">
        </label>
        <br/>

        <label>Description:
            <textarea th:field="*{description}" rows="4" cols="50"></textarea>
        </label>
        <br/>

        <button type="submit">Save changes</button>
    </form>

</body>
</html>